<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
<body>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <img
                src="<%= product.image_path %>"
                class="rounded mx-auto d-block"
                alt="computer"
              />
            </div>
            <div class="col-6">
              <div><%= prods.product_name %></div>
              <div class="text-center">
                <%= prods.detail %>
              </div>
              <div class="text-center">
                <%= prods.price %>
              </div>
            </div>
          </div>
        </div>
      </div>
     
</main>
<%- include('includes/end.ejs') %>